body {
    position: relative;
}

.jumbotron {
    background-color: rgb(219, 217, 217);
}

.jumbotron img {
    width: 200px;
    border: 4px #666 solid;
}

hr {
    border-top: 2px #666 solid;
    width: 300px;
}

.about {
    min-height: 800px;
}

.portfolio {
    min-height: 800px;
    background-color: rgb(219, 217, 217);
}

.contact {
    min-height: 800px;
}

.footer {
    background-color: rgb(24, 23, 23);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
}

.footer p {
    color: white;
    padding-top: 40px;
}

.glyphicon-expand {
    color: red;
}