body {
    position: relative;
    margin-top: 50px;
}

.jumbotron {
    background-image: url(../img/bg-jumbotron.jpg);
    background-size: cover;
    background-position: 0, 100px;
    background-attachment: fixed;
    color: #eaeaea;
}

.jumbotron img {
    width: 20%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1, .jumbotron p {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

hr {
    border-top: 2px #666 solid;
    width: 300px;
}

.about {
    min-height: 650px;
}

.portfolio {
    min-height: 650px;
    background-color: rgb(219, 217, 217);
}

.contact {
    min-height: 900px;
}

.footer {
    background-color: rgb(24, 23, 23);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 140px;
}

.footer p {
    color: white;
    padding-top: 40px;
}
